* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}
.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 50px 0px 30px 0px;
  text-align: center;
}

header p {
  font-size: 20px;
  text-align: center;
}

.pads {
  background: lightblue;
  width: 100%;
  display: flex;
}

.pads > div {
  height: 100px;
  width: 100px;
  flex: 1;
}

.pads1 {
  background: lightgreen;
}

.pads2 {
  background: lightpink;
}

.pads3 {
  background: lightsalmon;
}

.pads4 {
  background: lightseagreen;
}

.pads5 {
  background: lightskyblue;
}

.pads6 {
  background: lightgoldenrodyellow;
}

.pads7 {
  background: #690069;
}

.visual > div {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  bottom: 0%;
  left: 20%;
  bottom: 0%;
  z-index: -1;
}

@keyframes jump {
  0% {
    bottom: 0%;
    left: 20%;
  }
  50% {
    bottom: 50%;
    left: 50%;
  }
  100% {
    bottom: 0%;
    left: 80%;
  }
}

@media (max-width: 475px) {
  header p {
    font-size: 16px;
  }
}
